default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  # host: localhost

development:
  <<: *default
  database: mlm_development

test:
  <<: *default
  database: mlm_test

production:
  <<: *default
  database: mlm_production
  username: mlm
  password: <%= ENV['MLM_DATABASE_PASSWORD'] %>
