default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost

development:
  <<: *default
  database: mlm_development
  username: postgres
  password: bhakari
  

test:
  <<: *default
  database: mlm_test
  username: postgres
  password: bhakari

production:
  <<: *default
  database: mlm_production
  username: postgres
  password: bhakari